<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="green">
              <h3 slot="title" class="card-title">Caladan City</h3>
              <h5 v-if="this.message" slot="title" class="alert alert-warning">
                {{ this.message }}
              </h5>
              <h5 v-if="this.success" slot="title" class="alert alert-info">
                Login successfully. Please wait a second.
              </h5>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>verified_user</md-icon>
                <label>Username</label>
                <md-input v-model="username"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>lock_outline</md-icon>
                <label>Password...</label>
                <md-input v-model="password" type="password"></md-input>
              </md-field>
              <md-button
                @click="login"
                slot="footer"
                class="md-simple md-success md-lg"
              >
                Login
              </md-button>
              <md-button
                  @click="register"
                  slot="footer"
                  class="md-simple md-success md-lg"
              >
                Register
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import axios from "axios";

export default {
  components: {
    LoginCard
  },
  bodyClass: "login-page",
  data() {
    return {
      success: false,
      message: null,
      username: null,
      password: null
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/profile_city.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  },
  methods: {
    delay(time) {
      return new Promise(resolve => setTimeout(resolve, time));
    },
    register() {
      this.$router.push({ name: "register" });
    },
    login() {
      let data = {
        username: this.username,
        password: this.password
      };

      axios
        .post("http://103.57.222.114/api/login", data)
        .then(async response => {
          console.log(response.data);
          if (response.data.status_code === 200) {
            this.success = true;
            this.message = null;
            localStorage.setItem("token", response.data.access_token);
            await this.delay(1000);
            await this.$router.push({ name: "profile" });
          } else {
            this.success = false;
            this.message = response.data.error;
          }
        })
        .catch(error => {
          this.success = false;
          console.log(error.message);
          this.message = error.message;
        });
    }
  }
};
</script>

<style lang="css"></style>
