<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="green">
              <h3 slot="title" class="card-title">Account Register</h3>
              <h5 v-if="this.message" slot="title" class="alert alert-warning">
                {{ this.message }}
              </h5>
              <h5 v-if="this.success" slot="title" class="alert alert-info">
                Account registered successfully. Please return to login page.
              </h5>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>FullName...</label>
                <md-input v-model="firstname"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>verified_user</md-icon>
                <label>Username</label>
                <md-input v-model="username"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>email</md-icon>
                <label>Email</label>
                <md-input v-model="email" type="email"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>chat</md-icon>
                <label>Tel</label>
                <md-input v-model="tel"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>lock_outline</md-icon>
                <label>Password...</label>
                <md-input v-model="password" type="password"></md-input>
              </md-field>
              <md-button
                @click="register"
                slot="footer"
                class="md-simple md-success md-lg"
              >
                Sign Up
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import axios from "axios";

export default {
  components: {
    LoginCard
  },
  bodyClass: "login-page",
  data() {
    return {
      success: false,
      message: null,
      firstname: null,
      username: null,
      email: null,
      tel: null,
      password: null
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/profile_city.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  },
  methods: {
    register() {
      let data = {
        name: this.firstname,
        username: this.username,
        email: this.email,
        password: this.password,
        tel: this.tel
      };

      axios
        .post("http://103.57.222.114/api/user", data)
        .then(async response => {
          console.log(response.data);
          if (response.data.success) {
            this.success = true;
            this.message = null;
            this.firstname = null;
            this.username = null;
            this.email = null;
            this.tel = null;
            this.password = null;
            await new Promise(r => setTimeout(r, 2000));
            await this.$router.push({ name: "login" });
          } else {
            this.success = false;
            this.message = response.data.message;
          }
        })
        .catch(error => {
          this.success = false;
          this.message = error.message;
        });
    }
  }
};
</script>

<style lang="css"></style>
