<template>
  <div class="wrapper">
    <md-button
      @click="logout"
      slot="footer"
      class="md-primary md-lg"
      style="margin-left: 90%;"
    >
      Log out
    </md-button>

    <div class="section section-contacts">
      <div class="container">
        <div class="md-layout">
          <div class="md-layout-item md-size-66 md-xsmall-size-100 mx-auto">
            <div class="md-layout">
              <div class="md-layout-item md-size-50 mx-auto">
                <div class="profile">
                  <div class="avatar">
                    <img
                      :src="img"
                      alt="Circle Image"
                      class="img-raised rounded-circle img-fluid"
                    />
                  </div>
                  <div class="name">
                    <h5
                      v-if="this.message"
                      slot="title"
                      class="alert alert-warning"
                    >
                      {{ this.message }}
                    </h5>
                    <h5
                      v-if="this.success"
                      slot="title"
                      class="alert alert-info"
                    >
                      Profile updated successfully.
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="title">User Profile</h2>
            <form class="contact-form">
              <div class="md-layout">
                <div class="md-layout-item md-size-50">
                  <md-field>
                    <label>Your Name</label>
                    <md-input v-model="name" type="text"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50">
                  <md-field>
                    <label>Username</label>
                    <md-input
                      v-model="username"
                      type="text"
                      :disabled="true"
                    ></md-input>
                  </md-field>
                </div>
              </div>
              <div class="md-layout">
                <div class="md-layout-item md-size-50">
                  <md-field>
                    <label>Email</label>
                    <md-input v-model="email" type="text"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50">
                  <md-field>
                    <label>Phone Number</label>
                    <md-input v-model="tel" type="text"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50">
                  <md-field>
                    <label>Password</label>
                    <md-input v-model="password" type="password"></md-input>
                  </md-field>
                </div>
              </div>
            </form>
            <br /><br />
            <md-button @click="update" class="md-primary md-success md-lg">
              Update
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import axios from "axios";

export default {
  name: "UserProfile",
  data() {
    return {
      success: false,
      message: null,
      name: null,
      username: null,
      email: null,
      tel: null,
      password: null
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/profile_city.jpg")
    },
    img: {
      type: String,
      default: require("@/assets/img/faces/unknown.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  },
  created() {
    this.getProfile();
  },
  methods: {
    logout: async function() {
      localStorage.removeItem("token");
      await this.$router.push({ name: "login" });
    },
    getProfile: function() {
      let config = {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token")
        }
      };

      axios
        .get("http://103.57.222.114/api/me", config)
        .then(response => {
          console.log(response.data);
          if (response.data.success) {
            this.name = response.data.data.name;
            this.username = response.data.data.username;
            this.email = response.data.data.email;
            this.tel = response.data.data.tel;
            this.password = null;
          } else {
            this.message = response.data.msg;
          }
        })
        .catch(error => {
          console.log(error.message);
          this.message = error.message;
        });
    },
    update() {
      let data = {
        name: this.name,
        email: this.email,
        password: this.password,
        tel: this.tel
      };

      let config = {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token")
        }
      };

      axios
        .post("http://103.57.222.114/api/update-profile", data, config)
        .then(response => {
          console.log(response.data);
          if (response.data.success) {
            this.success = true;
            this.password = null;
            this.message = null;
          } else {
            this.message = response.data.message;
            this.success = false;
          }
        })
        .catch(error => {
          this.success = false;
          console.log(error.message);
          this.message = error.message;
        });
    }
  }
};
</script>

<style scoped></style>
