<template>
  <div id="material-kit">
    <div :class="{ 'nav-open': NavbarStore.showNavbar }">
      <div>
        <router-view />
      </div>
      <router-view name="footer" />
    </div>
  </div>
</template>
